# Database connection string
DATABASE_URI=mongodb://root:example@127.0.0.1:27017/payload-website?authSource=admin

# Or use a PG connection string
#DATABASE_URI=postgresql://127.0.0.1:5432/your-database-name

# Used to encrypt JWT tokens
PAYLOAD_SECRET=bea74dcea276e51b80ffba50421858d5

# Used to configure CORS, format links and more. No trailing slash
NEXT_PUBLIC_SERVER_URL=http://localhost:3000

# Secret used to authenticate cron jobs
CRON_SECRET=YOUR_CRON_SECRET_HERE

# MongoDB - root user
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=example
# MONGO_INITDB_DATABASE=payload-website

# mongo-express admin panel
ME_CONFIG_MONGODB_ADMINUSERNAME=root
ME_CONFIG_MONGODB_ADMINPASSWORD=example
ME_CONFIG_MONGODB_URL="mongodb://root:example@mongo:27017/"
ME_CONFIG_BASICAUTH=false
